

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lapas nosaukums</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <p>Paragrāfs</p>
    <p>Cits Paragrāfs</p>
    <span>Vienkāršs teksts</span>
    <span> Vienkāršs teksts turpinās</span>


    <!-- Forma, kura sutis datus timekla serverim -->
    <form action="/contactform/submit" method="POST">
        <input type="text"/>
        <div class="g-recaptcha" data-sitekey="6LdMB2QqAAAAAJpnBBjd24ScevAzD5x5G2y7YgQB"></div>
        <br/>
        <input type="submit" value="Nosutit zinu" style="display:inline-block;">
    </form>
</body>
</html>

